.cart {
  position: absolute;
  width: 70vw;
  right: -18px;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid $color-very-light-grey;
  background-color: $color-white;
  z-index: 5;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid $color-very-light-grey;
    padding-bottom: 12px;

    &__close-icon {
      font-size: 2rem;
    }
  }

  &__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 12px 0;
  }

  .is-empty {
    font-size: 1.25rem;
    display: flex;
    align-self: center;
  }

  @include bp(medium) {
    width: 240px;
    height: 340px;
    right: 6px;
  }
}
