.c-cart {
  @include size(70vw, 100vh);

  &__header {
    @include flex-box;
    @include justify-content(space-between);
    @include align-items(center);

    font-size: 1.5rem;
    border-bottom: 1px solid $color-very-light-grey;
  }

  &__items {
    @include flex-box;
    @include flex-direction(column);
    @include size($height: 100%);

    overflow-y: auto;
    margin: 12px 0;
  }

  .is-empty {
    @include flex-box;
    @include align-self(center);

    font-size: 1.25rem;
  }

  @include bp(medium) {
    @include size(240px, 340px);

    &__header {
      font-size: 1.125rem;
    }

    .is-empty {
      font-size: 1rem;
    }
  }
}
