.c-checkout-item {
  @include grid-column-gap(20% 30% 20% 15% 15%);
  @include size(100%, 120px);

  border-bottom: 1px solid darkgrey;
  font-size: 1.2rem;

  &__product {
    @include flex-align-content;

    &__name {
      @include ellipsis(3);
    }
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  @include bp(sm) {
    img {
      height: 100px;
      width: 84px;
    }
  }
}
