.checkout {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
  }

  &__header {
    @include grid-column-gap(20% 30% 20% 15% 15%);

    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid $color-light-grey;
    list-style: none;

    li {
      text-transform: capitalize;
      font-size: 1.25rem;
      text-align: center;
      font-weight: 500;
    }
  }

  .total {
    margin-top: 18px;
    margin-left: auto;
    font-size: 1.5rem;
  }

  .test-warning {
    font-size: 1.25rem;
    color: red;
    text-align: center;
  }

  @include bp(sm) {
  }
}
