.collection-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 18px;
    font-weight: 700;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }

  @include bp(medium) {
    margin-bottom: 24px;

    &__products {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 18px;
    }
  }
}
