.c-collection-item {
  @include flex-box;
  @include flex-direction(column);
  @include size($height: 320px);

  margin-bottom: 24px;

  img {
    @include size($height: 75%);
  }

  .add-to-cart-button {
    width: 100%;
  }

  &__info {
    @include flex-box;
    @include justify-content(space-between);
    @include size(100%);

    font-size: 1.125rem;

    &__name {
      @include ellipsis(1);
      @include size($max-width: 70%);
    }
  }

  @include bp(lg) {
    @include relative();
    @include align-items(center);
    @include size($height: 420px);

    z-index: zIndex('collection-preview') + 1;

    img {
      @include size($height: 100%);
    }

    .add-to-cart-button {
      @include absolute($top: 40%);
      @include size(80%);
      @include transition(all 200ms ease-in-out);
      @include invisible();

      z-index: zIndex('collection-preview') + 2;
    }

    &__info {
      span {
        &:first-child {
          max-width: 200px;
        }
      }
    }

    &:hover {
      img {
        opacity: 0.8;
      }

      .add-to-cart-button {
        @include visible();
      }
    }
  }
}
