.c-collection-list {
  @include flex-box;
  @include flex-direction(column);

  margin-bottom: 12px;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__products {
    @include grid-column-gap(repeat(2, 1fr), 12px);
  }

  @include bp(sm) {
    margin-bottom: 24px;

    &__products {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 18px;
    }
  }
}
