.nav-bar {
  position: relative;
  height: $global-navbar-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-very-light-grey;
  margin-bottom: 24px;

  a {
    text-decoration: none;
  }

  &__nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 24px;

    &__item {
      padding: 8px 16px;
      text-transform: uppercase;
      font-size: 1.125rem;
    }
  }

  &__cart {
    position: absolute;
    right: 0;
    top: 9px;
  }

  .sign-out {
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.4);
    z-index: 3;
    height: 100vh;
    width: 100%;
    transition: $global-transition;
  }

  @include bp(medium) {
  }
}

body .overlay {
  height: 100vh;
  overflow-y: hidden;
}
