.sign-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  span {
    line-height: 1.5rem;
  }

  &__title {
    text-align: center;
  }

  &__signup-text {
    margin-bottom: 18px;

    a {
      font-weight: 700;
    }
  }

  &__group-textfield {
    .text-field {
      margin-bottom: 30px;
    }
  }

  &__group-button {
    @include grid-column-gap(auto 70%, 12px);
  }

  @include bp(sm) {
    width: 380px;
  }
}
