.c-sign-in {
  @include flex-box;
  @include flex-direction(column);
  @include size(100%);

  &__form {
    &__group-button {
      @include grid-column-gap(auto 70%, 12px);
    }
  }

  .google-sign-in-button {
    background-color: $color-blue;

    @include bp(xl) {
      &:hover {
        background-color: $color-white;
        border-color: $color-blue;
        color: $color-blue;
      }
    }
  }

  @include bp(sm) {
    @include size(380px);
  }
}
