.with-drawer {
  @include fixed($top: 0, $right: 0);
  @include size(70vw, 100vh);
  @include flex-box;
  @include flex-direction(column);
  @include translateX(100%);

  z-index: zIndex('nav-bar') + 2;
  border-left: 1px solid $color-very-light-grey;
  padding: 12px;
  background-color: $color-white;
  transition: $global-transition;

  &.is-visible {
    @include translateX(0);
  }

  &__header {
    @include flex-box;
    @include justify-content(space-between);
    @include align-items(center);

    font-size: 1.5rem;
    border-bottom: 1px solid $color-very-light-grey;
    padding-bottom: 12px;
  }

  &__items {
    @include size($height: 100%);
    @include flex-box;
    @include flex-direction(column);

    overflow-y: auto;
    margin: 12px 0;
  }

  @include bp(medium) {
    @include absolute(
      $top: $global-navbar-height - 12px,
      $right: 0,
      $left: auto
    );
    @include size(240px, 340px);
    @include visible();
    @include translateX(0);

    border: 1px solid $color-very-light-grey;

    &.is-invisible {
      @include invisible();
    }

    &__header {
      font-size: 1.125rem;
    }

    .is-empty {
      font-size: 1rem;
    }
  }
}
