/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  display: block;

  @include bp(medium) {
    display: flex;
  }
}

.o-layout__item {
  flex: 1;
}

.o-layout--guttered {
  justify-content: space-between;

  > .o-layout__item {
    flex: none;
  }
}

.o-layout-main {
  @include relative();
  @include flex-box;
  @include flex-direction(column);
  @include size($width: 100vw, $min-height: 100vh);

  margin: 0 auto;
  padding: 0 18px;

  @include bp(medium) {
    @include size($width: 70vw);

    padding: 0;
  }
}
