/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  display: block;

  @include bp(medium) {
    display: flex;
  }
}

.o-layout__item {
  flex: 1;
}

.o-layout--guttered {
  justify-content: space-between;

  > .o-layout__item {
    flex: none;
  }
}

.o-layout-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  padding: 0 12px;

  @include bp(medium) {
    width: 70vw;
    padding: 0;
  }
}
