///* ========================================================================
//   #GRID
//   ======================================================================== */
// Mixin to quickly apply grid box classes to elements.

@mixin grid-column-gap($col-val: auto, $gap-val: 0) {
  display: grid;
  grid-template-columns: $col-val;
  grid-gap: $gap-val;
}
