///* ========================================================================
//   #SIZE
//   ======================================================================== */
// // Mixin to quickly apply width and height to elements.

@mixin size($width: null, $height: null, $maxWidth: null, $maxHeight: null) {
  width: $width;
  height: $height;
  max-width: $maxWidth;
  max-height: $maxHeight;
}
